.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/bin
/build
/dist
/data
/logs
/upload
/tiktoken_cache
/one-api
/new-api
__debug_bin*
.DS_Store
.env
.env.*
*.db
*.db-journal
*.sqlite
*.sqlite3
*.tar
*.tar.gz
*.tgz
*.zip
.gomodcache
.cache
.gopath
/web/node_modules
/web/dist
